body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Styling for the navbar */
nav {
    background-color: white;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: orange;
}

/* Background section */
.background {
    background-image: url('./hero_2.jpg'); /* Ensure the image path is correct */
    position: relative;
    top:90px;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
}

.content-wrapper {
   /* background-color: rgba(0, 0, 0, 0.5);*/
    padding: 20px;
    max-width: 500px;
}

h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

.buttons {
    display: flex;
    gap: 10px;
}

.button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.button:hover {
    background-color: white;
    color: black;
}

/* Hide all sections by default except the targeted one */
.content {
    display: none;
    padding: 40px;
    text-align: center;
}

:target {
    display: block;
}
